# Auto detect text files and perform LF normalization
* text=auto
*.[Ii][Oo][Ss] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Dd][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Ii][Mm][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Zz][Ii][Pp] filter=lfs diff=lfs merge=lfs -text
*.[Rr][Aa][Rr] filter=lfs diff=lfs merge=lfs -text
*.[Tt][Aa][Rr] filter=lfs diff=lfs merge=lfs -text
*.[Gg][Zz] filter=lfs diff=lfs merge=lfs -text
*.[Zz] filter=lfs diff=lfs merge=lfs -text
*.[Aa][Rr][Jj] filter=lfs diff=lfs merge=lfs -text
*.[Dd][Oo][Cc] filter=lfs diff=lfs merge=lfs -text
*.[Dd][Oo][Cc][Xx] filter=lfs diff=lfs merge=lfs -text
*.[Xx][Ll][Ss] filter=lfs diff=lfs merge=lfs -text
*.[Xx][Ll][Ss][Xx] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Pp][Tt] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Pp][Tt][Xx] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Dd][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Rr][Tt][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Vv][Ss][Dd] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Pp][Pp] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Dd][Bb] filter=lfs diff=lfs merge=lfs -text
*.[Hh][Ll][Pp] filter=lfs diff=lfs merge=lfs -text
*.[Ww][Pp][Ss] filter=lfs diff=lfs merge=lfs -text
*.[Bb][Mm][Pp] filter=lfs diff=lfs merge=lfs -text
*.[Gg][Ii][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Jj][Pp][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Nn][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Ii][Cc] filter=lfs diff=lfs merge=lfs -text
*.[Tt][Gg][Aa] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Ss][Dd] filter=lfs diff=lfs merge=lfs -text
*.[Tt][Ii][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Ii][Cc][Oo] filter=lfs diff=lfs merge=lfs -text
*.[Ww][Aa][Vv] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Pp][33] filter=lfs diff=lfs merge=lfs -text
*.[Rr][Aa][Mm] filter=lfs diff=lfs merge=lfs -text
*.[Ww][Mm][Aa] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Mm][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Aa][Mm][Rr] filter=lfs diff=lfs merge=lfs -text
*.[Aa][Aa][Cc] filter=lfs diff=lfs merge=lfs -text
*.[Ff][Ll][Aa][Cc] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Ii][Dd] filter=lfs diff=lfs merge=lfs -text
*.[Aa][Vv][Ii] filter=lfs diff=lfs merge=lfs -text
*.[Ww][Mm][Vv] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Pp][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Pp][44] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Oo][Vv] filter=lfs diff=lfs merge=lfs -text
*.[Rr][Mm] filter=lfs diff=lfs merge=lfs -text
*.[Ss][Ww][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Ss][Yy][Ss] filter=lfs diff=lfs merge=lfs -text
*.[Dd][Ll][Ll] filter=lfs diff=lfs merge=lfs -text
*.[Oo][Cc][Xx] filter=lfs diff=lfs merge=lfs -text
*.[Ee][Xx][Ee] filter=lfs diff=lfs merge=lfs -text
*.[Cc][Oo][Mm] filter=lfs diff=lfs merge=lfs -text
*.[Ll][Ii][Bb] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Dd][Bb] filter=lfs diff=lfs merge=lfs -text
*.[Dd][Aa][Tt] filter=lfs diff=lfs merge=lfs -text
*.[Ff][Bb][Xx] filter=lfs diff=lfs merge=lfs -text
*.[Ee][Xx][Rr] filter=lfs diff=lfs merge=lfs -text
*.[Aa][Ss][Ss][Ee][Tt] filter=lfs diff=lfs merge=lfs -text
*.[Xx][Mm][Ii][Nn][Dd] filter=lfs diff=lfs merge=lfs -text
# Unreal Engine file types.
*.[Uu][Aa][Ss][Ss][Ee][Tt] filter=lfs diff=lfs merge=lfs -text
*.[Uu][Mm][Aa][Pp] filter=lfs diff=lfs merge=lfs -text

# Raw Content file types.
*.[Ff][Bb][Xx] filter=lfs diff=lfs merge=lfs -text
*.[33][Dd][Ss] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Ss][Dd] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Nn][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Pp][33] filter=lfs diff=lfs merge=lfs -text
*.[Ww][Aa][Vv] filter=lfs diff=lfs merge=lfs -text
*.[Xx][Cc][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Jj][Pp][Gg] filter=lfs diff=lfs merge=lfs -text

# Binary CSV Data
*.bytes filter=lfs diff=lfs merge=lfs -text

# Anything in `/RawContent` dir.
/RawContent/**/* filter=lfs diff=lfs merge=lfs -text
